In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\program files\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\program files\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\program files\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\program files\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\program files\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd

In [5]:
# Données sous forme de liste
donnees = [
["Mercure", 0.39],
["Vénus", 0.72],
["Terre", 1.00],
["Mars", 1.52]
]
# Création du DataFrame
df = pd.DataFrame(donnees, columns=["Planète", "Distance au Soleil"])
# Affichage
print(df)

   Planète  Distance au Soleil
0  Mercure                0.39
1    Vénus                0.72
2    Terre                1.00
3     Mars                1.52

In [6]:
import pandas as pd
# Utilisation du chemin absolu
df = pd.read_csv("planete.csv")
# Affichage
df #ou écrire print(df

,Planete,Distance au Soleil (millions de km),Temps de révolution (jours),Diamètre (km),Température moyenne (°C)
0,Mercure,57.91,88,4879,167
1,Venus,108.20,225,12104,464
2,Terre,149.60,365,12742,15
3,Mars,227.90,687,6779,-60
4,Jupiter,778.30,4333,139820,-108
5,Saturne,1427.00,10759,116460,-140
6,Uranus,2871.00,30687,50724,-195
7,Neptune,4495.00,60190,49244,-200

Defaulting to user installation because normal site-packages is not writeable
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement openyxl (from versions: none)

[notice] A new release of pip is available: 24.3.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for openyxl

In [2]:
import pandas as pd
df = pd.read_excel('planet.xlsx')
df

   Planète  Distance au Soleil
0  Mercure                0.39
1    Vénus                0.72
2    Terre                1.00
3     Mars                1.52

In [3]:
import pandas as pd
df = pd.read_json('planete.json')
df

       nom  position  diametre_km  distance_soleil_km
0  Mercure         1         4879            57909227
1    Vénus         2        12104           108208930
2    Terre         3        12742           149598023

In [ ]:
import pandas as pd
import csv # pour le quoting=1
# Lecture du fichier CSV existant
df = pd.read_csv('planete.csv') 
df
# Exportation du DataFrame df vers le fichier planete1.csv sans paramètres
df.to_csv(
'planete1.csv' # Nom du fichier exporté
)

In [ ]:
import pandas as pd
# Charger un fichier Excel dans un DataFrame
df = pd.read_excel('planet.xlsx')
# Afficher le DataFrame
df
# Exporter le DataFrame vers un nouveau fichier Excel
# index=False pour ne pas inclure l'index
df.to_excel('nouveau_planete.xlsx', index=False, engine=
'openpyxl')

In [11]:
import pandas as pd
# Charger un fichier JSON dans un DataFrame
df = pd.read_json('planete.json')
# Afficher le DataFrame
df
# Exporter le DataFrame vers un fichier JSON
df.to_json('nouveau_planete.json')

In [12]:
import pandas as pd
# Charger un fichier JSON dans un DataFrame
df = pd.read_json('planete.json')
# Afficher le DataFrame
df
# Exporter le DataFrame vers un fichier JSON avec des paramètres supplémentaires
df.to_json('nouveau_planete2.json', 
orient='records', # Format JSON où chaque ligne est un objet
lines=True, # Si True, chaque objet est écrit sur une ligne séparée
indent=4) # Indente le JSON pour améliorer la lisibilité

In [15]:
import pandas as pd
# Charger un fichier dans un DataFrame
df = pd.read_csv('planete.csv')
# Afficher les 5 premières lignes du DataFrame
df.head()

,Planete,Distance au Soleil (millions de km),Temps de révolution (jours),Diamètre (km),Température moyenne (°C)
0,Mercure,57.91,88,4879,167
1,Venus,108.20,225,12104,464
2,Terre,149.60,365,12742,15
3,Mars,227.90,687,6779,-60
4,Jupiter,778.30,4333,139820,-108

In [14]:
import pandas as pd
# Charger un fichier dans un DataFrame
df = pd.read_csv('planete.csv')
# Afficher les 5 premières lignes du DataFrame
df.head()

,Planete,Distance au Soleil (millions de km),Temps de révolution (jours),Diamètre (km),Température moyenne (°C)
0,Mercure,57.91,88,4879,167
1,Venus,108.20,225,12104,464
2,Terre,149.60,365,12742,15
3,Mars,227.90,687,6779,-60
4,Jupiter,778.30,4333,139820,-108

In [13]:
import pandas as pd
# Charger un fichier dans un DataFrame
df = pd.read_csv('planete.csv')
# Afficher les 2 dernières lignes du DataFrame
df.tail(2)

,Planete,Distance au Soleil (millions de km),Temps de révolution (jours),Diamètre (km),Température moyenne (°C)
6,Uranus,2871.0,30687,50724,-195
7,Neptune,4495.0,60190,49244,-200

In [17]:
import pandas as pd
# Charger un fichier JSON dans un DataFrame
df = pd.read_csv('planete.csv')
# Affichage des données de la colonne 'Distance’
df['Distance au Soleil (millions de km)']

0      57.91
1     108.20
2     149.60
3     227.90
4     778.30
5    1427.00
6    2871.00
7    4495.00
Name: Distance au Soleil (millions de km), dtype: float64

In [23]:
import pandas as pd
# Charger un fichier JSON dans un DataFrame
df = pd.read_csv('planete.csv')
# Affichage des données de la colonne 'Distance'
df[['Planete', 'Distance au Soleil (millions de km)']]

   Planete  Distance au Soleil (millions de km)
0  Mercure                                57.91
1    Venus                               108.20
2    Terre                               149.60
3     Mars                               227.90
4  Jupiter                               778.30
5  Saturne                              1427.00
6   Uranus                              2871.00
7  Neptune                              4495.00

In [18]:
import pandas as pd
# Charger un fichier JSON dans un DataFrame
df = pd.read_csv('planete.csv')
# Sélectionner la colonne "Planete"
planetes = df['Planete']
print(planetes)
# Sélectionner les colonnes "Planete" et "Distance au Soleil"
colonnes_selectionnees = df[['Planete', 'Distance au Soleil (millions de km)']]
print(colonnes_selectionnees)

0    Mercure
1      Venus
2      Terre
3       Mars
4    Jupiter
5    Saturne
6     Uranus
7    Neptune
Name: Planete, dtype: object
   Planete  Distance au Soleil (millions de km)
0  Mercure                                57.91
1    Venus                               108.20
2    Terre                               149.60
3     Mars                               227.90
4  Jupiter                               778.30
5  Saturne                              1427.00
6   Uranus                              2871.00
7  Neptune                              4495.00

In [19]:
import pandas as pd
# Charger un fichier JSON dans un DataFrame
df = pd.read_csv('planete.csv')
# Filtrer les planètes dont la distance au Soleil est inférieure à 500 millions de km
planetes_proches_du_soleil = df[df['Distance au Soleil (millions de km)'] < 500]
print(planetes_proches_du_soleil)

   Planete  Distance au Soleil (millions de km)  Temps de révolution (jours)  \
0  Mercure                                57.91                           88
1    Venus                               108.20                          225
2    Terre                               149.60                          365
3     Mars                               227.90                          687

   Diamètre (km)  Température moyenne (°C)
0           4879                       167
1          12104                       464
2          12742                        15
3           6779                       -60

In [21]:
import pandas as pd
# Charger un fichier JSON dans un DataFrame
df = pd.read_csv('planete.csv')
df_planetes_froides_lointaines = df[(df['Température moyenne (°C)'] < -100) &
(df['Distance au Soleil (millions de km)'] > 500)]
print(df_planetes_froides_lointaines)

   Planete  Distance au Soleil (millions de km)  Temps de révolution (jours)  \
4  Jupiter                                778.3                         4333
5  Saturne                               1427.0                        10759
6   Uranus                               2871.0                        30687
7  Neptune                               4495.0                        60190

   Diamètre (km)  Température moyenne (°C)
4         139820                      -108
5         116460                      -140
6          50724                      -195
7          49244                      -200