Exemple tuple

In [1]:
tuple_de_chaine = ("pomme", "cerise", "pomme",
"fraise")
tuple_de_chiffre = (1,5,9,14,5)
tuple_melange = ("Alain", 34, True, "male")
mon_tuple = 1, 2, 3
print(tuple_de_chaine ) # affiche ('pomme', 'cerise', 'pomme', ‘fraise')
print(tuple_de_chiffre ) # affiche (1, 5, 9, 14, 5)
print(tuple_melange ) # affiche (« Alain", 34, True, "male")
type(mon_tuple) # affiche <type 'tuple'>

('pomme', 'cerise', 'pomme', 'fraise')
(1, 5, 9, 14, 5)
('Alain', 34, True, 'male')

tuple

In [4]:
tuple1 = tuple(("pomme", "banane", "cerise"))
print(tuple1) # affiche ('pomme', 'banane', 'cerise')
tuple2 = tuple((2, 15, 20))
print(tuple2) # affiche (2, 15, 20)

('pomme', 'banane', 'cerise')
(2, 15, 20)

In [ ]:
tuple_un_element = ("pomme",)
print(type(tuple_un_element )) # c'est un tuple <class 'tuple’>
pas_un_tuple = ("pomme")
print(type(pas_un_tuple)) # n'est pas un tuple <class 'str'string

<class 'tuple'>
<class 'str'>

In [6]:
mon_tuple = ('a', 'b', 'c', 'd')
print(mon_tuple[0]) # 'a’
print(mon_tuple[2]) # ‘c’
print(mon_tuple[-1]) # 'd’
print(mon_tuple[-3]) # ‘b’

a
c
d
b

In [ ]:
#extraire une souspartie du tuple
# syntaxe : mon_tuple[debut:fin:pas]
t = (6, 12, 7, 3, 9)
print(t[1:4]) # Affiche Affiche (12,7,3)  ici ça imprime seulement entre les index
#1 à 4 (second, third and forth numbers)
print(t[::2]) # Affiche (6, 7, 9) ici c'est par bon de 2

(12, 7, 3, 9)
(6, 7, 9)

In [ ]:
#assemble les tuple et crée un nouveau tuple
tuple1 = (5, 10, 15)
tuple2= ('Alain', 25, 'ok')
nouveau_tuple=tuple1+tuple2
print(nouveau_tuple) # affiche (5, 10, 15,'Alain', 25, 'ok' )

(5, 10, 15, 'Alain', 25, 'ok')

In [ ]:
#répéter un tuple plusieurs fois
t=('Alain', 25, 'ok')
t* 2 # ('Alain', 25, 'ok','Alain', 25, 'ok’)
(7,) * 3 # (7, 7, 7)

In [10]:
t= ( 'Alain', 25, 'ok' )
'Alain' in t # print('Alain' in t) affiche True

True

## Trie d'un tuple

In [ ]:
 """syntaxe:
   sorted(mon_tuple) sorted() trie dans l'ordre croissant et retourne liste
   sortd(mon_tuple, reverse= True) trie ordre décroissant """
 # pour le remettre en tuple put tuple infront of it

In [ ]:
t = (5, 2, 9, 1)
trie_croissant = sorted(t)
trie_decroissant = sorted(t, reverse=True)
print(trie_croissant) # [1, 2, 5, 9] c'est une liste
print(tuple(trie_croissant)) # (1, 2, 5, 9) ça c'est un tuple
print(trie_decroissant) # [9, 5, 2, 1] 
print(tuple(trie_decroissant)) # (9, 5, 2, 1)

[1, 2, 5, 9]
(1, 2, 5, 9)
[9, 5, 2, 1]
(9, 5, 2, 1)

In [ ]:
#deballage d'un tuple
# syntaxe : a,b,c, ...n = mon_tuple
t = (5, 2, 9, 3)
a,b,c,d=t
print(f'a={a} b={b} c={c} d={d}')  # affiche a=5 b=2 c=9 d=3

a=5 b=2 c=9 d=3

In [ ]:
# deballage d'un tuple avec *
#syntaxe:  a, *reste = mon_tuple

t = (5, 2, 9, 3)
a,*b=t
print(f'a={a} b={b}') # affiche a=5 b=[2, 9, 3] le b s'affiche comme liste
*a, b=t
print(f'a={a} b={b}')
t # affiche a=[5, 2, 9] b=3

a=5 b=[2, 9, 3]
a=[5, 2, 9] b=3

(5, 2, 9, 3)

In [20]:
#syntaxe: for element in mon_tuple: 
  # instructions

t = (5, 2, 9, 3)
for x in t:
 print(x) # affiche 5 2 9 3

5
2
9
3

In [23]:
#syntaxe: for in in range(len(mon_tuple)):
   # print(i, mon_tuple[i])
t = (5, 2, 9, 3)
for i in range(len(t)):
 print(f"Index {i} → Valeur {t[i]}")
''' affiche 
Index 0 → Valeur 5
Index 1 → Valeur 2
Index 2 → Valeur 9
Index 3 → Valeur 3'''

Index 0 → Valeur 5
Index 1 → Valeur 2
Index 2 → Valeur 9
Index 3 → Valeur 3

' affiche \nIndex 0 → Valeur 5\nIndex 1 → Valeur 2\nIndex 2 → Valeur 9\nIndex 3 → Valeur 3'

In [25]:
# parcourt d'un tuple avec enumerate() (sans utiliser range())
#syntaxe: 

t = (5, 2, 9, 3)
for i, valeur in enumerate(t):
 print(f"Position {i} : {valeur}")
''' affiche Position 0 : 5
Position 1 : 2
Position 2 : 9
Position 3 : 3'''

Position 0 : 5
Position 1 : 2
Position 2 : 9
Position 3 : 3

' affiche Position 0 : 5\nPosition 1 : 2\nPosition 2 : 9\nPosition 3 : 3'

In [ ]:
#conversion de liste vers tuple

liste = [2, 9, 3,5]
print(liste) # [2, 9, 3, 5]
tuple(liste) # (2, 9, 3, 5)

In [24]:
#chaine de caratere devient un élément
chaine="il tourne"
tuple(chaine) # ('i', 'l', ' ', 't', 'o', 'u', 'r', 'n', 'e’)

('i', 'l', ' ', 't', 'o', 'u', 'r', 'n', 'e')

In [ ]:
# tuple imbriqué
#syntaxe :  mon_tuple [i][j]
t = ((1, 2), (3, 4))
print(t[1][1]) # 4

4